@import "tailwindcss";

@theme {
  --font-primary: "Inter", "sans-serif";

  --breakpoint-desktop: 120rem;

  --color-primaryYellow: #F6C010;
  --color-primaryBlack: #232323;
  --color-primaryGray: #8D8D8D;
  --color-navyBlue: #1B2543;
  --color-smoke: #E5E5E5;

}